* {
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;;
}

a {
    text-decoration: none;
    font-weight: bold;
}

li {
    list-style-type: none;
}
nav {
    min-width: 1100px;
    margin: 0 300px;
}
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}
nav li {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 0.9rem;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
    align-items: center;
}

nav li:first-child {
    color: #200ec5;
    /* transform: translateY(-24px); */
}

nav li:first-child::before {
    content: "";
    width: 100%;
    height: 5px;
    position: absolute;
    background: #200ec5;
    transform: translateY(-20px);
}

nav li:hover::before {
    content: "";
    width: 100%;
    height: 5px;
    position: absolute;
    background: #200ec5;
    transform: translateY(-20px);

}

nav li:last-child::before {
    background: none;
}
#nav-lang {
    border: none;
    border-radius: 150px;
    background-color: rgb(128, 128, 128);
    padding: 10px 20px;
}

header {
    background: url("./assets/img/bg.jpg") fixed center/cover;
    display: grid;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 60px;
}


header h1 {
    margin: 30px;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
}

#campus-video {
    width: 50%;
    justify-self: center;
    background: none;
    color: white;
    padding: 15px 30px;
    font-weight: bold;
    border: solid white;
    border-radius: 2px;
    letter-spacing: 2px;
    font-family: sans-serif;
}

.under-header {
    padding: 45px 0;
    max-width: 1100px;
    font-size: 1.2rem;
    line-height: 34px;
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
}

.gaming-module {
    display: flex;
    justify-content: space-around;
    background-color: rgb(15, 15, 15);
    color: whitesmoke;
    padding: 65px 0;
    margin: 0%;
}


#module-content {
    text-align: center;
}

#txt-module {
    padding: 0 80px;
    margin: 10 80px;
}

#see-more {
    width: 30%;
    justify-self: center;
    background: none;
    color: white;
    padding: 15px 5px;
    font-weight: bold;
    border: solid 1px white;
    font-family: sans-serif;
    margin: 20px;
}

.info-new {
    background-color: #f1f5f5;
    padding: 50px 200px;
}

.campus-news {
    
    display: grid;
    grid-template-columns: 73% 27%;
}

.left-part p {
    font-weight: 600;
}

.left-part h2 {
    letter-spacing: 2px;
    font-weight: 100;
}

#newsroom {
    /* width: 9%; */
    padding: 10px 20px 10px 20px;
    font-size: 0.8rem;
    font-weight: bold;
    justify-self: center;
    background: none;
    color: black;
    border: solid 1px black;
    font-family: sans-serif;
    margin: 30px 40px;
}

.infos-news {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-top: 50px;;
    font-weight: bold;
}

#news-pictures {
    width: 284px;
}

#infos-news-contents {
    width: 284px;
    font-weight: 600;

}

.infos-btn-line {
    display: flex;
    justify-content: space-evenly
}

#infos-btn {
    text-decoration: none;
    background: none;
    border: none;
    color: #200ec5;
    letter-spacing: 3px;

}

#space-p {
    height: 180px;
}

.contact-media {
    display: grid;
}

.contact {
    display: flex;
    justify-content: space-evenly;
    margin: 25px;
    padding: 25px;
    line-height: 25px;
    /* margin: 20px; */

}

.contact-right1 p {
    padding-bottom: 0;
    margin-bottom: 0;
}

.contact-right2 h4 {
    margin-bottom: 0;
    padding-bottom: 0;
}

.contact-right2 span {
    letter-spacing: 5px;
}

.contact-right3 p {
    margin-top: 20%;
    line-height: 120%;
}

.social-network {
    list-style-type: none;
    display: flex;
    align-items: flex-start;
}


.contact-content {
    display: grid;
    width: 12%;
}

.media {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid black;

}


.footer-right {

    align-self: center;
}


.img {
    margin: 15px;
    justify-self: center;

}

.footer {
    color: whitesmoke;
    display: grid;
    background-color: rgb(15, 15, 15);
    text-align: center;
    font-size: 1.2rem;
}


.partners {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 704px) {
    body {
        /* font-size: 0.8rem; */
        min-width: 100vh;
        min-height: 100vh;
    }

    nav li {
        display: none;
        font-size: 0.7rem
    }

    header img {
        width: 60%;
    }
    .contact-content {
        padding-left: 15px;
    }
    .media {

    }
    .info-news {
        display: grid;
    }
}