body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    font-weight: bold;
}

.Nav {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 20px; */
    padding: 10px 100px;

}

#nav-icone {
    letter-spacing: 1px;
    list-style-type: none;

}

header {
    background: url("./assets/img/bg.jpg");
    display: grid;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 50px;
}

#title-header {
    margin: 30px;
}

#campus-video {
    width: 50%;
    justify-self: center;
    background: none;
    color: white;
    padding: 15px 5px;
    font-weight: bold;
    border: solid white;
    border-radius: 2px;
    letter-spacing: 4px;
    font-family: sans-serif;
}

.under-header {
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 25px;
}

#txt-under-header {
    width: 70%;
}

.gaming-module {
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    padding: 50px;
    margin: 0%;
}


#module-content {
    text-align: center;
}

#txt-module {
    padding: 0 80px;
    margin: 10 80px;
}

#see-more {
    width: 30%;
    justify-self: center;
    background: none;
    color: white;
    padding: 15px 5px;
    font-weight: bold;
    border: solid 1px white;
    font-family: sans-serif;
    margin: 20px;
}

.info-new {
    background-color: #e2e2e2;
    padding: 50px;

}

.campus-news {
    text-align: left;
    display: flex;
    justify-content: space-around;
}

.left-part {
    width: 47%;
}

#newsroom {
    /* width: 9%; */
    padding: 10px 20px 10px 20px;
    font-size: 0.8rem;
    font-weight: bold;
    justify-self: center;
    background: none;
    color: black;
    border: solid 1px black;
    font-family: sans-serif;
    margin: 30px 40px;
}

.infos-news {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    font-weight: bold;
}

#infos-news-contents {
    margin: 0 180px;
    /* height: 500px; */
}

.infos-btn-line {
    display: flex;
    justify-content: space-evenly
}

#infos-btn {
    text-decoration: none;
    background: none;
    border: none;
    color: #bb76ec;
    letter-spacing: 3px;

}

.Link {
    /* position: static;
    align-items: flex-end; */

}

#space-p {
    height: 180px;
}

.contact {
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
}

.contact-content {
    display: grid;
    width: 12%;
}