body {
    font-family: sans-serif;
    min-height: 100vh;
}

a {
    text-decoration: none;
    font-weight: bold;
}

li {
    list-style-type: none;
}

.Nav {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
    padding: 20px 100px;

}

#nav-icone {
    letter-spacing: 1px;
    list-style-type: none;

}

header {
    background: url("./assets/img/bg.jpg");
    display: grid;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 50px;
}

#title-header {
    margin: 30px;
}

#campus-video {
    width: 50%;
    justify-self: center;
    background: none;
    color: white;
    padding: 15px 5px;
    font-weight: bold;
    border: solid white;
    border-radius: 2px;
    letter-spacing: 4px;
    font-family: sans-serif;
}

.under-header {
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 25px;
}

#txt-under-header {
    width: 70%;
}

.gaming-module {
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    padding: 50px;
    margin: 0%;
}


#module-content {
    text-align: center;
}

#txt-module {
    padding: 0 80px;
    margin: 10 80px;
}

#see-more {
    width: 30%;
    justify-self: center;
    background: none;
    color: white;
    padding: 15px 5px;
    font-weight: bold;
    border: solid 1px white;
    font-family: sans-serif;
    margin: 20px;
}

.info-new {
    background-color: #e2e2e2;
    padding: 50px;

}

.campus-news {
    text-align: left;
    display: flex;
    justify-content: space-around;
}

.left-part {
    width: 47%;
}

#newsroom {
    /* width: 9%; */
    padding: 10px 20px 10px 20px;
    font-size: 0.8rem;
    font-weight: bold;
    justify-self: center;
    background: none;
    color: black;
    border: solid 1px black;
    font-family: sans-serif;
    margin: 30px 40px;
}

.infos-news {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    font-weight: bold;
}

#infos-news-contents {
    /* margin-bottom: 0px */
    width: 23%;
}

.infos-btn-line {
    display: flex;
    justify-content: space-evenly
}

#infos-btn {
    text-decoration: none;
    background: none;
    border: none;
    color: #bb76ec;
    letter-spacing: 3px;

}

#space-p {
    height: 180px;
}

.contact-media {
    display: grid;
}

.contact {
    display: flex;
    justify-content: space-evenly;
    margin: 25px;
    padding: 25px;
    line-height: 25px;
    /* margin: 20px; */

}

.contact-right1 p {
    padding-bottom: 0;
    margin-bottom: 0;
}

.contact-right2 h4 {
    margin-bottom: 0;
    padding-bottom: 0;
}

.contact-right2 span {
    letter-spacing: 5px;
}

.contact-right3 p {
    margin-top: 20%;
    line-height: 120%;
}

.social-network {
    list-style-type: none;
    display: flex;
    align-items: flex-start;
}


.contact-content {
    display: grid;
    width: 12%;
}

.media {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid black;

}


.footer-right {

    align-self: center;
}


.img {
    margin: 15px;
    justify-self: center;

}

.footer {
    color: white;
    display: grid;
    background-color: black;
    text-align: center;
    font-size: 1.2rem;
}


.partners {
    display: flex;
    justify-content: center;
}

@media screen and (max-width:900px) {
    body {
        font-size: 0.8rem;
        min-width: 100vh;
        min-height: 100vh;
    }

    img {
        width: auto;
    }

    .info-news {
        display: grid;
    }
}